Source: dte-draw
Section: admin
Priority: optional
Maintainer: Deepin Packages Builder <packages@deepin.com>
Build-Depends:
 debhelper (>= 9),
 cmake,
 pkg-config,
 qtdeclarative5-dev,
 qml-module-qtquick-shapes,
 qtdeclarative5-private-dev,
 qttools5-dev-tools,
 qtbase5-private-dev
Standards-Version: 3.9.8
Homepage: http://www.deepin.org

Package: dte-draw
Architecture: any
Depends:
 ${shlibs:Depends},
 ${misc:Depends}
Description:this package software for UOS
 A simple draw tools for UOS.


